{% extends 'app/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Dashboard</h2>

<h4 class="mt-5">Expenses by Category</h4>

<div style="width: 400px; height: 400px;">
    <canvas id="expenseChart"></canvas>
</div>


<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for expense in expenses %}
        <tr>
            <td>{{ expense.category }}</td>
            <td>₹{{ expense.amount }}</td>
            <td>{{ expense.date }}</td>
            <td>
                <a href="{% url 'delete_expense' expense.id %}"
                   class="btn btn-sm btn-outline-danger">
                   Delete
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h4 class="mt-5">Expenses by Category</h4>

<canvas id="expenseChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('expenseChart');

new Chart(ctx, {
    type: 'pie',
    data: {
        labels: {{ labels|safe }},
        datasets: [{
            data: {{ data|safe }},
        }]
    },
});
</script>

{% endblock %}
